In [2]:
import numpy as np
import pandas as pd
from setting import *
import gc

gc.enable()

s1 = pd.read_csv(DATA + 'result_lgbm_all.csv', engine='c')
s2 = pd.read_csv(DATA + 'result_ftrl_ip.csv', engine='c')
s3 = pd.read_csv(DATA + 'result_ref.csv', engine='c')

In [3]:
s3.head()

   click_id  is_attributed
0         0       0.072140
1         1       0.013145
2         2       0.001387
3         3       0.007624
4         4       0.002315

In [4]:
s2.head()

   click_id  is_attributed
0         0       0.044608
1         1       0.018592
2         2       0.000440
3         3       0.006111
4         4       0.002006

In [5]:
s1.head()

   click_id  is_attributed
0         0       0.079360
1         1       0.187941
2         2       0.002566
3         3       0.077282
4         4       0.006123

In [6]:
v = 0.4*s1.values[:, 1] + 0.2*s2.values[:, 1] + 0.4*s3.values[:, 1]

In [7]:
s3.is_attributed = v

In [8]:
s3.head()

   click_id  is_attributed
0         0       0.069522
1         1       0.084153
2         2       0.001669
3         3       0.035184
4         4       0.003777

In [9]:
s3.to_csv(DATA+'result_050501.csv', index=False)